<html>
<style>
table {
  table, th, td {
  border: 1px solid black;
}
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}
</style>>
<center>
<h1>VIEW COURSE</h1>


<table style="width:100%">
  <tr>
    <th>COURSE</th>
    <th>FEE</th>
    <th>DURATION</th>
	<th>TIME</th>
  </tr>
  <tr>
    <td>PYTHON</td>
    <td>3000</td>
    <td>3 week</td>
	<td>morning</td>
  </tr>
  <tr>
    <td>JAVA</td>
    <td>3500</td>
    <td>4 week</td>
	<td>afternoon</td>
  </tr>
   <tr>
    <td>CSS</td>
    <td>4500</td>
    <td>5 week</td>
	<td>morning</td>
   </tr>
   <tr>
    <td>C and C++</td>
    <td>3000</td>
    <td>5 week</td>
	<td>morning</td>
   </tr>
   <tr>
    <td>DATA SCIENCE</td>
    <td>3000</td>
    <td>5 week</td>
	<td>afternoon</td>
   </tr>
   <tr>
    <td>MACHINE LARNING</td>
    <td>5000</td>
    <td>7 week</td>
	<td>afternoon</td>
   </tr>

</center>  
</table>

</body>
</html>

